@import "global";

header {
  background: rgb(70, 69, 69);
  padding: 0.5rem;
  position: sticky;
}

section {
  display: flex;
}

body {
  font-family: "Ubuntu", sans-serif;
  background: black;
}

img {
  max-width: 100%;
}

.nav {
  &_list {
    display: flexbox;
    padding: 1rem;
    list-style: none;
    align-items: flex-end;
    columns: 5;
  }

  &_item {
    margin: 0 0 0 1.5rem;
    color: $color-item;

    &:hover {
      opacity: 0.5;
    }
  }
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  grid-row: auto;
}

.col {
  width: auto;
}

.contenedor {
  margin-top: 1rem;
  margin-left: 1rem;
  width: auto;
  max-width: 1320px;
}

/*Estilo de index */
.tituloPrincipal {
  color: pink;
  text-align: center;
}

#tabla {
  border: white solid;
  width: auto;
}

/*Estilo de pages */
.tituloSecundario {
  color: pink;
}

h1 {
  color: pink;
  text-align: center;
}

th {
  color: white;
  text-align: center;
  width: 1000px;
}

tr {
  color: white;
  text-align: center;
}
tr ul li {
  list-style: none;
  color: white;
}
.etiqueta {
  color: pink;
}

.texto {
  margin-top: 20px;
  margin-left: 80px;
  text-align: center;
  color: white;
}

/*Estilos Grid*/

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 0.5rem;
  grid-column-gap: 1rem;
  margin: auto;
  padding: 1rem;
  justify-items: center;
  grid-row: auto;
  width: auto;
}

.grid-contacto {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-row-gap: 20px;
  grid-column-gap: 1rem;
  margin: auto;
  padding: 3rem;
  justify-items: center;
  grid-row: auto;
  width: auto;
}

.grid p {
  font-style: oblique;
  width: auto;
}

/*Estilos footer*/

.footer {
  padding-top: 1rem;
  display: flex;
  background: black;
}

.footer-sm {
  color: beige;
  align-items: flex-end;
}

header {
  grid-area: header;
  align-items: flex-end;
}

nav {
  grid-area: nav;
}

footer {
  grid-area: footer;
}

section {
  background: black;
  display: flex;
  align-items: center;
}

.logo {
  width: 100%;
}

.redes {
  width: 3%;
}

.mayor-tamaño {
  font-size: large;
  width: 25rem;
}

.transicion:hover {
  transition: 3s;
  font-size: 3rem;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .grid-contacto {
    grid-template-columns: 1fr;
  }
  .mayor-tamaño {
    font-size: small;
  }
  .nav_list {
    columns: 1;
  }
}
